{:paths ["src" "resources"]
 :deps {io.github.kotoba-lang/codec-primitives
        {:git/url "https://github.com/kotoba-lang/codec-primitives.git"
         :git/sha "ffa076057caedcfaabb9645c84e002ee468f8268"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
  :kotoba {:extra-deps {io.github.kotoba-lang/compiler
                        {:git/url "https://github.com/kotoba-lang/compiler.git"
                         :git/sha "bef32b78852212bc096849d1ff9779c8afae4796"}}
           :main-opts ["-m" "kotoba.compiler.cli"]}
  ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
